.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}

.btn-delete{
  color: #d85451;
}

.btn-delete:hover{
  color: #BF3B38;
}

.btn-link{
  padding: 0 0 0 10px;
}

.btn-secondary{
  background: #6a6a6a;
  color: #ffffff;
}

.btn-secondary:hover{
  background: #515151;
  color: #ffffff;
}

.btn-secondary:focus{

  color: #ffffff;
}

.referencelist li{
  padding: 15px;
}

.newauthor{
  overflow: hidden;
}

.closeicon{
  cursor: pointer;
  padding: 10px;
}
