<section id="Picos" ng-show="recommendation.recommendationId" class="well">
	<h3>Picos</h3>
	<table class="table table-hover" >
		<thead>
			<tr>
				<th>#</th>
				<th>Opprettet</th>
				<th>Oppdatert</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="pico in recommendation.picos" ng-hide="pico.isDeleted" >
				<td btn-href="/guideline/{{guidelineId}}/section/{{sectionId}}/recommendation/{{recommendation.recommendationId}}/pico/{{pico.picoId}}">{{pico.picoId}}</td>
				<td btn-href="/guideline/{{guidelineId}}/section/{{sectionId}}/recommendation/{{recommendation.recommendationId}}/pico/{{pico.picoId}}">{{pico.createdDate | date}}</td>
				<td btn-href="/guideline/{{guidelineId}}/section/{{sectionId}}/recommendation/{{recommendation.recommendationId}}/pico/{{pico.picoId}}">{{pico.updatedDate | date}}</td>
				<td class="col-md-3">
					<div class="btn-group pull-right">
						
						<button type="button" class="btn btn-default btn-sm" ng-click="deletePicoBtnClick($index)" ng-confirm-click="Er du sikker på at du vil slette PICO med id {{pico.picoId}}"><span class="glyphicon glyphicon-remove"></span> Slett</button>
						<button type="button" class="btn btn-success btn-sm" btn-href="/guideline/{{guidelineId}}/section/{{sectionId}}/recommendation/{{recommendation.recommendationId}}/pico/{{pico.picoId}}"><span class="glyphicon glyphicon-edit"></span> Rediger</button>
					</div>
				</td>
				
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-default" ng-click="addPicoBtnClick()">Legg til pico</button>
</section>