<section id="References" ng-show="recommendation.recommendationId" class="well">
	<h3>Referanser</h3>
	<table class="table table-hover" >
		<thead>
			<tr>
				<th>#</th>
				<th>Opprettet</th>
				<th>Oppdatert</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="reference in recommendation.references" ng-hide="reference.isDeleted" >
				<td btn-href="/guideline/{{guidelineId}}/section/{{sectionId}}/recommendation/{{recommendation.recommendationId}}/reference/{{reference.referenceId}}">{{reference.referenceId}}</td>
				<td btn-href="/guideline/{{guidelineId}}/section/{{sectionId}}/recommendation/{{recommendation.recommendationId}}/reference/{{reference.referenceId}}">{{reference.createdDate | date}}</td>
				<td btn-href="/guideline/{{guidelineId}}/section/{{sectionId}}/recommendation/{{recommendation.recommendationId}}/reference/{{reference.referenceId}}">{{reference.updatedDate | date}}</td>
				<td class="text-right col-sm-3">
					<button type="button" class="btn btn-link btn-delete" ng-click="deleteReferenceBtnClick($index)" ng-confirm-click="Er du sikker på at du vil referanse med ID {{reference.referenceId}}">Slett <span class="glyphicon glyphicon-remove"></span></button>
					
					<button type="button" class="btn btn-link" btn-href="/guideline/{{guidelineId}}/section/{{sectionId}}/recommendation/{{recommendation.recommendationId}}/reference/{{reference.referenceId}}">Rediger <span class="glyphicon glyphicon-pencil"></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-secondary" ng-click="addReferenceBtnClick()">Legg til referanse</button>
</section>