<form role="form" ng-submit="updateOrCreateAuthor()">
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" ng-model="author.name" required />
	</div>
	<div class="form-group">
		<label for="phone">Phone</label>
		<input type="text" class="form-control" id="phone" ng-model="author.phoneNr" required />
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" ng-model="author.email" required />
	</div>
	<div class="form-group">
		<label for="address">Address</label>
		<input type="text" class="form-control" id="address" ng-model="author.adress" required />
	</div>

	

	<div class="pull-right">
		<button type="submit" class="btn btn-primary btn-lg">Lagre</button>
	</div>
	
	<p></p>
	<div>UpdatedBy: {{author.updatedBy}}</div>
	<div>UpdatedDate: {{author.updatedDate | date}}</div>
	<p></p>
	<div>CreatedBy: {{author.createdBy}}</div>
	<div>CreatedDate: {{author.createdDate | date}}</div>
	<p></p>
</form>
