
<h3>{{guideline.title}}</h3>

<form role="form" ng-submit="updateGuideline()">
	<div class="form-group">
		<label for="title">Title</label>
		<input type="text" class="form-control" id="title" ng-model="guideline.title">
	</div>
	<div class="form-group">
		<label for="englishTitle">English Title</label>
		<input type="text" class="form-control" id="englishTitle" ng-model="guideline.englishTitle">
	</div>
	<div class="form-group">
		<label for="text">Text</label>
		<textArea class="form-control" id="text" ng-model="guideline.text"></textArea>
	</div>
	<div class="form-group">
		<label for="disclaimer">Disclaimer</label>
		<input type="text" class="form-control" id="disclaimer" ng-model="guideline.disclaimer">
	</div>
	<div class="form-group">
		<label for="language">Language</label>
		<input type="text" class="form-control" id="language" ng-model="guideline.language">
	</div>
	<div class="form-group">
		<label for="sponsors">Sponsors</label>
		<input type="text" class="form-control" id="sponsors" ng-model="guideline.sponsors">
	</div>
	<div class="form-group">
		<label for="owner">Owner</label>
		<input type="text" class="form-control" id="owner" ng-model="guideline.owner">
	</div>
	<div class="form-group">
		<label for="type">Type</label>
		<select class="form-control" id="type" ng-model="guideline.type">
		  <option value="0">None</option>
		  <option value="1">Guideline</option>
		  <option value="2">Circulara</option>
		</select>
	</div>
	<!-- List Of Authors -->
	<div class="form-group">
		<label>Authors:</label>
		<div ng-repeat="author in guideline.authors">
			<a href="#/author/{{author.authorId}}">{{author.name}}</a>
		</div>
	</div>
	<button type="button" class="btn btn-info" ng-click="editAuthor()">Legg til forfatter</button>
	<!-- List Of Sections -->
	<div class="form-group">
		<label>Sections:</label>
		<div ng-repeat="section in guideline.sections">			
			<a href="#/section/{{section.sectionId}}">{{section.heading}}</a>
		</div>
	</div>
	<button type="button" ng-click="addSection">Legg til seksjon</button>
	<p></p>
	<div>UpdatedBy: {{guideline.updatedBy}}</div>
	<div>UpdatedDate: {{guideline.updatedDate | date}}</div>
	<p></p>
	<div>CreatedBy: {{guideline.createdBy}}</div>
	<div>CreatedDate: {{guideline.createdDate | date}}</div>
	<p></p>
	<button type="submit" class="btn btn-primary">Lagre</button>
</form>
<p></p>