<form role="form" ng-submit="updatePicoCode()">
	<div class="form-group">
		<label for="ontologyName">OntologyName</label>
		<input type="text" class="form-control" id="ontologyName" ng-model="picoCode.ontologyName">
	</div>
	<div class="form-group">
		<label for="ontologyCode">OntologyCode</label>
		<input type="text" class="form-control" id="ontologyCode" ng-model="picoCode.ontologyCode">
	</div>
	<div class="form-group">
		<label for="schemaSystem">SchemaSystem</label>
		<input type="text" class="form-control" id="schemaSystem" ng-model="picoCode.schemaSystem">
	</div>
	<div class="form-group">
		<label for="type">Pico Type</label>
		<select class="form-control" id="type" ng-model="picoCode.picoType">
		  <option value="0">Population</option>
		  <option value="1">Intervention</option>
		  <option value="2">Control</option>
		  <option value="3">Outcome</option>
		</select>
	</div>

	<p></p>
	<div>UpdatedBy: {{picoCode.updatedBy}}</div>
	<div>UpdatedDate: {{picoCode.updatedDate | date}}</div>
	<p></p>
	<div>CreatedBy: {{picoCode.createdBy}}</div>
	<div>CreatedDate: {{picoCode.createdDate | date}}</div>
	<p></p>

		<div class="form-group">
		<label>Taxonomy Codes:</label>
		<div ng-repeat="taxonomyCode in picoCode.taxonomyCodes">			
			<a href="#/taxonomyCode/{{taxonomyCode.taxonomyCodeId}}">{{taxonomyCode.schemaSystem}} : {{taxonomyCode.code}}</a>
		</div>
	</div>

	<button type="submit" class="btn btn-primary">Lagre</button>
</form>