<article>
    

<form role="form" ng-submit="updateOrCreatePicoContinousOutcome()">
    <div class="form-group">
        <label for="absoluteDifference">AbsoluteDifference</label>
        <input type="number" step="any" class="form-control" id="absoluteDifference" ng-model="picoContinousOutcome.absoluteDifference">
    </div>
    <div class="form-group">
        <label for="absoluteDifferenceType">AbsoluteDifferenceType</label>
        <input type="text" class="form-control" id="absoluteDifferenceType" ng-model="picoContinousOutcome.absoluteDifferenceType">
    </div>
    <div class="form-group">
        <label for="absoluteDifferenceHigh">AbsoluteDifferenceHigh</label>
        <input type="number" step="any" class="form-control" id="absoluteDifferenceHigh" ng-model="picoContinousOutcome.absoluteDifferenceHigh">
    </div>
    <div class="form-group">
        <label for="absoluteDifferenceHighType">AbsoluteDifferenceHighType</label>
        <input type="text" class="form-control" id="absoluteDifferenceHighType" ng-model="picoContinousOutcome.absoluteDifferenceHighType">
    </div>
    <div class="form-group">
        <label for="absoluteDifferenceLow">AbsoluteDifferenceLow</label>
        <input type="number" step="any" class="form-control" id="absoluteDifferenceLow" ng-model="picoContinousOutcome.absoluteDifferenceLow">
    </div>
    <div class="form-group">
        <label for="absoluteDifferenceLowType">AbsoluteDifferenceLowType</label>
        <input type="text" class="form-control" id="absoluteDifferenceLowType" ng-model="picoContinousOutcome.absoluteDifferenceLowType">
    </div>
    <div class="form-group">
        <label for="certaintyEffect">CertaintyEffect</label>
        <input type="text" class="form-control" id="certaintyEffect" ng-model="picoContinousOutcome.certaintyEffect">
    </div>
    <div class="form-group">
        <label for="certaintyEffectText">CertaintyEffectText</label>
        <input type="text" class="form-control" id="certaintyEffectText" ng-model="picoContinousOutcome.certaintyEffectText">
    </div>
    <div class="form-group">
        <label for="controlCount">ControlCount</label>
        <input type="number" class="form-control" id="controlCount" ng-model="picoContinousOutcome.controlCount">
    </div>
    <div class="form-group">
        <label for="outcome">Outcome</label>
        <input type="text" class="form-control" id="outcome" ng-model="picoContinousOutcome.outcome">
    </div>
    <div class="form-group">
        <label for="interventionCount">InterventionCount</label>
        <input type="number" class="form-control" id="interventionCount" ng-model="picoContinousOutcome.interventionCount">
    </div>
    <div class="form-group">
        <label for="relativeEffect">RelativeEffect</label>
        <input type="number" step="any" class="form-control" id="relativeEffect" ng-model="picoContinousOutcome.relativeEffect">
    </div>
    <div class="form-group">
        <label for="relativeEffectConfidenceHigh">RelativeEffectConfidenceHigh</label>
        <input type="number" step="any" class="form-control" id="relativeEffectConfidenceHigh" ng-model="picoContinousOutcome.relativeEffectConfidenceHigh">
    </div>
    <div class="form-group">
        <label for="relativeEffectConfidenceLow">RelativeEffectConfidenceLow</label>
        <input type="number" step="any" class="form-control" id="relativeEffectConfidenceLow" ng-model="picoContinousOutcome.relativeEffectConfidenceLow">
    </div>
    <div class="form-group">
        <label for="relativeEffectConfidencePercent">RelativeEffectConfidencePercent</label>
        <input type="number" step="any" class="form-control" id="relativeEffectConfidencePercent" ng-model="picoContinousOutcome.relativeEffectConfidencePercent">
    </div>
    <div class="form-group">
        <label for="studies">Studies</label>
        <input type="text" class="form-control" id="studies" ng-model="picoContinousOutcome.studies">
    </div>
    <div class="form-group">
        <label for="summary">Summary</label>
        <input type="text" class="form-control" id="summary" ng-model="picoContinousOutcome.summary">
    </div>
    <div class="form-group">
        <label for="meshTerm">MeshTerm</label>
        <input type="text" class="form-control" id="meshTerm" ng-model="picoContinousOutcome.meshTerm">
    </div>
    <div class="form-group">
        <label for="meshId">MeshId</label>
        <input type="text" class="form-control" id="meshId" ng-model="picoContinousOutcome.meshId">
    </div>
    <div class="form-group">
        <label for="timeFrame">TimeFrame</label>
        <input type="text" class="form-control" id="timeFrame" ng-model="picoContinousOutcome.timeFrame">
    </div>
    <div class="form-group">
        <label for="studyType">StudyType</label>
        <input type="text" class="form-control" id="studyType" ng-model="picoContinousOutcome.studyType">
    </div>
    <div class="form-group">
        <label for="qualityRisk">QualityRisk</label>
        <input type="text" class="form-control" id="qualityRisk" ng-model="picoContinousOutcome.qualityRisk">
    </div>
    <div class="form-group">
        <label for="qualityRiskComment">QualityRiskComment</label>
        <input type="text" class="form-control" id="qualityRiskComment"
               ng-model="picoContinousOutcome.qualityRiskComment">
    </div>
    <div class="form-group">
        <label for="qualityRiskHeterogeneity">QualityRiskHeterogeneity</label>
        <input type="text" class="form-control" id="qualityRiskHeterogeneity" ng-model="picoContinousOutcome.qualityRiskHeterogeneity">
    </div>
    <div class="form-group">
        <label for="qualityRiskHeterogeneityComment">QualityRiskHeterogeneityComment</label>
        <input type="text" class="form-control" id="qualityRiskHeterogeneityComment" ng-model="picoContinousOutcome.qualityRiskHeterogeneityComment">
    </div>
    <div class="form-group">
        <label for="qualityIndirectness">QualityIndirectness</label>
        <input type="text" class="form-control" id="qualityIndirectness" ng-model="picoContinousOutcome.qualityIndirectness">
    </div>
    <div class="form-group">
        <label for="qualityIndirectnessComment">QualityIndirectnessComment</label>
        <input type="text" class="form-control" id="qualityIndirectnessComment"
               ng-model="picoContinousOutcome.qualityIndirectnessComment">
    </div>
    <div class="form-group">
        <label for="qualityImprecision">QualityImprecision</label>
        <input type="text" class="form-control" id="qualityImprecision" ng-model="picoContinousOutcome.qualityImprecision">
    </div>
    <div class="form-group">
        <label for="qualityImprecisionComment">QualityImprecisionComment</label>
        <input type="text" class="form-control" id="qualityImprecisionComment" ng-model="picoContinousOutcome.qualityImprecisionComment">
    </div>
    <div class="form-group">
        <label for="qualityBias">QualityBias</label>
        <input type="text" class="form-control" id="qualityBias" ng-model="picoContinousOutcome.qualityBias">
    </div>
    <div class="form-group">
        <label for="qualityBiasComment">QualityBiasComment</label>
        <input type="text" class="form-control" id="qualityBiasComment" ng-model="picoContinousOutcome.qualityBiasComment">
    </div>
    <div class="form-group">
        <label for="comperatorReference">ComperatorReference</label>
        <input type="number" class="form-control" id="comperatorReference" ng-model="picoContinousOutcome.comperatorReference">
    </div>
    <div class="form-group">
        <label for="relativeEffectReferenceId">RelativeEffectReferenceId</label>
        <input type="text" class="form-control" id="relativeEffectReferenceId" ng-model="picoContinousOutcome.relativeEffectReferenceId">
    </div>
    

        <button type="submit" class="btn btn-primary btn-lg">Lagre</button>
        <button ng-show="picoContinousOutcome.picoContinousOutcomeId" type="button" class="btn btn-link btn-delete" ng-confirm-click="Er du sikker på at du vil slette pico cont. outcome?" ng-click="deletePicoContinousOutcomeBtnClick()">Slett <span class="glyphicon glyphicon-remove"></span></button>

    <br><br>
    <p></p>
    <div>UpdatedBy: {{picoContinousOutcome.updatedBy}}</div>
    <div>UpdatedDate: {{picoContinousOutcome.updatedDate | date}}</div>
    <p></p>
    <div>CreatedBy: {{picoContinousOutcome.createdBy}}</div>
    <div>CreatedDate: {{picoContinousOutcome.createdDate | date}}</div>
    <p></p>

</form>
</article>