<form role="form" ng-submit="updatePico()">
	<div class="form-group">
		<label for="summary">Summary</label>
		<input type="text" class="form-control" id="summary" ng-model="pico.summary">
	</div>
	<div class="form-group">
		<label for="population">Population</label>
		<input type="text" class="form-control" id="population" ng-model="pico.population">
	</div>
	<div class="form-group">
		<label for="intervention">Intervention</label>
		<input type="text" class="form-control" id="intervention" ng-model="pico.intervention">
	</div>
	<div class="form-group">
		<label for="control">Control</label>
		<input type="text" class="form-control" id="control" ng-model="pico.control">
	</div>
	<div class="form-group">
		<label for="outcome">Outcome</label>
		<input type="text" class="form-control" id="outcome" ng-model="pico.outcome">
	</div>
	<div class="form-group">
		<label for="newEvidence">New Evidence</label>
		<input type="text" class="form-control" id="newEvidence" ng-model="pico.newEvidence">
	</div>
	<div class="form-group">
		<label for="referance">Referance</label>
		<input type="text" class="form-control" id="referance" ng-model="pico.referance">
	</div>


	<p></p>
	<div>UpdatedBy: {{pico.updatedBy}}</div>
	<div>UpdatedDate: {{pico.updatedDate | date}}</div>
	<p></p>
	<div>CreatedBy: {{pico.createdBy}}</div>
	<div>CreatedDate: {{pico.createdDate | date}}</div>
	<p></p>

		<div class="form-group">
		<label>Pico Codes:</label>
		<div ng-repeat="picoCode in pico.picoCodes">			
			<a href="#/picoCode/{{picoCode.picoCodeId}}">{{picoCode.picoCodeId}}</a>
		</div>
	</div>

	<button type="submit" class="btn btn-primary">Lagre</button>
</form>