<form role="form" ng-submit="updateOrCreatePico()">
    <div class="form-group">
        <label for="summary">Summary</label>
        <input type="text" class="form-control" id="summary" ng-model="pico.summary">
    </div>
    <div class="form-group">
        <label for="population">Population</label>
        <input type="text" class="form-control" id="population" ng-model="pico.population">
    </div>
    <div class="form-group">
        <label for="intervention">Intervention</label>
        <input type="text" class="form-control" id="intervention" ng-model="pico.intervention">
    </div>
    <div class="form-group">
        <label for="control">Control</label>
        <input type="text" class="form-control" id="control" ng-model="pico.control">
    </div>
    <div class="form-group">
        <label for="outcome">Outcome</label>
        <input type="text" class="form-control" id="outcome" ng-model="pico.outcome">
    </div>
    <div class="form-group">
        <label for="newEvidence">New Evidence</label>
        <input type="text" class="form-control" id="newEvidence" ng-model="pico.newEvidence">
    </div>
    <div class="form-group">
        <label for="referance">Referance</label>
        <input type="text" class="form-control" id="referance" ng-model="pico.referance">
    </div>


    <p></p>

    <div>UpdatedBy: {{pico.updatedBy}}</div>
    <div>UpdatedDate: {{pico.updatedDate | date}}</div>
    <p></p>

    <div>CreatedBy: {{pico.createdBy}}</div>
    <div>CreatedDate: {{pico.createdDate | date}}</div>
    <p></p>

    <div class="form-group" ng-show="pico.picoId">
        <label>Pico Codes:</label>

        <div ng-repeat="picoCode in pico.picoCodes">
            <a href="#/picoCode/{{picoCode.picoCodeId}}">{{picoCode.picoCodeId}}</a>
        </div>
    </div>
    <div class="form-group" ng-show="pico.picoId">
        <label>Pico Continuous Outcomes:</label>

        <div ng-repeat="pcoutcome in pico.picoContinousOutcomes">
            <a href="#/picocontinousoutcome/{{pcoutcome.picoContinousOutcomeId}}">{{pcoutcome.picoContinousOutcomeId}}</a>
        </div>
    </div>
    <div class="form-group" ng-show="pico.picoOutcomes">
        <label>Pico Outcomes:</label>

        <div ng-repeat="picoOutcome in pico.picoOutcomes">
            <a href="#/picooutcome/{{picoOutcome.picoOutcomeId}}">{{picoOutcome.picoOutcomeId}}</a>
        </div>
    </div>
    <button ng-show="pico.picoId" type="button" class="btn btn-default btn-sm" ng-click="addPicoCodeBtnClick()">Legg til picoCode</button>
    <button ng-show="pico.picoId" type="button" class="btn btn-default btn-sm" ng-click="addPicoContinuousOutcomeBtnClick()">Legg til Pico Continuous Outcome</button>
    <button ng-show="pico.picoId" type="button" class="btn btn-default btn-sm" ng-click="addPicoOutcomeBtnClick()">Legg til Pico Outcome</button>
    <button type="submit" class="btn btn-primary">Lagre</button>
</form>