<article>
	<small ng-show="section.sectionId">
	<p>
	Opprettet av: {{recommendation.createdBy}}, {{recommendation.createdDate | date}}
	</p>
	<p>
	Oppdatert av: {{recommendation.updatedBy}}, {{recommendation.updatedDate | date}}
	</p>
	</small>
	<section id="Recommendation">
		<form role="form" ng-submit="updateOrCreateRecommendation()">
			<div class="form-group">
				<label for="heading">Title</label>
				<input type="text" class="form-control" id="heading" ng-model="recommendation.heading">
			</div>
			<div class="form-group">
				<label for="text">Text</label>
				<div  id="text" ng-model="recommendation.text" text-angular></div>
			</div>
			<div class="form-group">
				<label for="practicalAdvice">Practical Advice</label>
				<div id="practicalAdvice" ng-model="recommendation.practicalAdvice" text-angular></div>
			</div>
			<div class="form-group">
				<label for="rational">Rational</label>
				<textArea type="text" class="form-control" id="rational" ng-model="recommendation.rational"></textArea>
			</div>
			<div class="form-group">
				<label for="remarks">Remarks</label>
				<textArea type="text" class="form-control" id="remarks" ng-model="recommendation.remarks"></textArea>
			</div>
			<div class="form-group">
				<label for="strength">Strength</label>
				<select id="strength" ng-model="recommendation.strength" class="form-control">
					<option value="null">None</option>
					<option value="Weak">Weak</option>
					<option value="Strong">Strong</option>
				</select>
			</div>
			<div class="form-group">
				<label for="tool">Tool</label>
				<textArea type="text" class="form-control" id="tool" ng-model="recommendation.tool"></textArea>
			</div>
			<div class="form-group">
				<label for="adaption">Adaption</label>
				<textArea type="text" class="form-control" id="adaption" ng-model="recommendation.adaption"></textArea>
			</div>
			<div class="form-group">
				<label for="refs">Refs</label>
				<textArea type="text" class="form-control" id="refs" ng-model="recommendation.refs"></textArea>
			</div>
			<div class="form-group">
				<label for="target_group">Target group</label>
				<textArea type="text" class="form-control" id="target_group" ng-model="recommendation.target_group"></textArea>
			</div>
				<button type="submit" class="btn btn-primary btn-lg">Lagre</button>
				<button ng-show="recommendation.recommendationId" type="button" class="btn btn-link btn-delete" ng-confirm-click="Er du sikker på at du vil slette anbefaling {{recommendation.heading}}" ng-click="deleteRecommendationBtnClick()">Slett <span class="glyphicon glyphicon-remove"></span></button>
			<br><br>
		</section>
		<picos-list></picos-list>
		<references-list></references-list>
		<emrinfo-list></emrinfo-list>
		<keyinfo-list></keyinfo-list>
	</article>