<form role="form" ng-submit="updateOrCreateRecommendation()">
	<div class="form-group">
		<label for="heading">Title</label>
		<input type="text" class="form-control" id="heading" ng-model="recommendation.heading">
	</div>
	<div class="form-group">
		<label for="text">Text</label>
		<div  id="text" ng-model="recommendation.text" text-angular></div>
	</div>
	<div class="form-group">
		<label for="practicalAdvice">Practical Advice</label>
		<div id="practicalAdvice" ng-model="recommendation.practicalAdvice" text-angular></div>
	</div>
	<div class="form-group">
		<label for="rational">Rational</label>
		<textArea type="text" class="form-control" id="rational" ng-model="recommendation.rational"></textArea>
	</div>
	<div class="form-group">
		<label for="remarks">Remarks</label>
		<textArea type="text" class="form-control" id="remarks" ng-model="recommendation.remarks"></textArea>
	</div>
	<div class="form-group">
		<label for="strength">Strength</label>
		<select id="strength" ng-model="recommendation.strength" class="form-control">
			<option value="null">None</option>
			<option value="Weak">Weak</option>
			<option value="Strong">Strong</option>
		</select>
	</div>
	<div class="form-group">
		<label for="tool">Tool</label>
		<textArea type="text" class="form-control" id="tool" ng-model="recommendation.tool"></textArea>
	</div>
	<div class="form-group">
		<label for="adaption">Adaption</label>
		<textArea type="text" class="form-control" id="adaption" ng-model="recommendation.adaption"></textArea>
	</div>
	<div class="form-group">
		<label for="refs">Refs</label>
		<textArea type="text" class="form-control" id="refs" ng-model="recommendation.refs"></textArea>
	</div>
	<div class="form-group">
		<label for="target_group">Target group</label>
		<textArea type="text" class="form-control" id="target_group" ng-model="recommendation.target_group"></textArea>
	</div>

	<p></p>
	<div>UpdatedBy: {{recommendation.updatedBy}}</div>
	<div>UpdatedDate: {{recommendation.updatedDate | date}}</div>
	<p></p>
	<div>CreatedBy: {{recommendation.createdBy}}</div>
	<div>CreatedDate: {{recommendation.createdDate | date}}</div>
	<p></p>

	<div class="form-group" ng-show="recommendation.recommendationId">
		<label>Picos:</label>
		<div ng-repeat="pico in recommendation.picos">			
			<a href="#/pico/{{pico.picoId}}">{{pico.picoId}}</a>
		</div>
	</div>
    <div class="form-group" ng-show="recommendation.recommendationId">
        <label>References:</label>
        <div ng-repeat="reference in recommendation.references">
            <a href="#/reference/{{reference.referenceId}}">{{reference.referenceId}}</a>
        </div>
    </div>
	<div class="form-group" ng-show="recommendation.recommendationId">
		<label>EmrInfos:</label>
		<div ng-repeat="emr in recommendation.emrInfo">			
			<a href="#/emrinfo/{{emr.emrInfoId}}">{{emr.name}}</a>
		</div>
	</div>
	<div class="form-group" ng-show="recommendation.recommendationId">
		<label>KeyInfos:</label>
		<div ng-repeat="key in recommendation.keyInfo">			
			<a href="#/keyinfo/{{key.keyInfoId}}">{{key.keyInfoId}}</a>
		</div>
	</div>
	<button ng-show="recommendation.recommendationId" type="button" class="btn btn-default btn-sm" ng-click="addPicoBtnClick()">Legg til pico</button>
    <button ng-show="recommendation.recommendationId" type="button" class="btn btn-default btn-sm" ng-click="addReferenceBtnClick()">Legg til reference</button>
	<button ng-show="recommendation.recommendationId" type="button" class="btn btn-default btn-sm" ng-click="addEmrInfoBtnClick()">Legg til emr info</button>
	<button ng-show="recommendation.recommendationId" type="button" class="btn btn-default btn-sm" ng-click="addKeyInfoBtnClick()">Legg til key info</button>
	<button type="submit" class="btn btn-primary">Lagre</button>
</form>