<article>
	<small ng-show="section.sectionId">
	<p>
	Opprettet av: {{section.createdBy}}, {{section.createdDate | date}}
	</p>
	<p>
	Oppdatert av: {{section.updatedBy}}, {{section.updatedDate | date}}
	</p>
	</small>
<section id="Section">
	

<form role="form" ng-submit="updateOrCreateSection()">
	<div class="form-group">
		<label for="heading">Heading</label>
		<input type="text" class="form-control" id="heading" ng-model="section.heading">
	</div>
	<!-- <div class="form-group">
		<label for="text">Text</label>
		<textArea type="text" class="form-control" id="text" ng-model="section.text"></textArea>
	</div> -->
	<div class="form-group">
		<label for="text">Text</label>
		<div  id="text" ng-model="section.text" text-angular></div>
	</div>

	
	<div class="pull-right">
		<button type="submit" class="btn btn-primary btn-lg">Lagre</button>
		<button ng-show="section.sectionId" type="button" class="btn btn-danger btn-lg" ng-click="deleteSectionBtnClick()">Slett</button>
	</div>
	<br><br><br>
</form>
</section>
<section id="Sections" class="well" ng-show="section.sectionId">
	<h3>Underseksjoner</h3>
	<table class="table table-hover" >
		<thead>
			<tr>
				<th>#</th>
				<th>Tittel</th>
				<th>Opprettet</th>
				<th>Oppdatert</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="childSection in section.childSections" ng-hide="childSection.isDeleted">
				<td btn-href="{{baseUrl}}{{childSection.sectionId}}">{{childSection.sectionId}}</td>
				<td btn-href="{{baseUrl}}{{childSection.sectionId}}">{{childSection.heading}}</td>
				<td btn-href="{{baseUrl}}{{childSection.sectionId}}">{{childSection.createdDate | date}}</td>
				<td btn-href="{{baseUrl}}{{childSection.sectionId}}">{{childSection.updatedDate | date}}</td>
				<td class="col-md-3">
					<div class="btn-group pull-right">
						
						<button type="button" class="btn btn-default btn-sm" ng-click="deleteSectionBtnClick($index)" ng-confirm-click="Er du sikker på at du vil slette seksjonen {{childSection.heading}}"><span class="glyphicon glyphicon-remove"></span> Slett</button>
						<button type="button" class="btn btn-success btn-sm" btn-href="{{baseUrl}}{{childSection.sectionId}}"><span class="glyphicon glyphicon-edit"></span> Rediger</button>
					</div>
				</td>
				
			</tr>
		</tbody>
	</table>
	<button ng-show="section.sectionId" type="button" class="btn btn-default" ng-click="addSectionBtnClick()">Legg til underseksjon</button>
</section>
<section id="Recommendations" class="well" ng-show="section.sectionId">
	<h3>Anbefalinger</h3>
	<table class="table table-hover" >
		<thead>
			<tr>
				<th>#</th>
				<th>Tittel</th>
				<th>Oppdatert</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="recommendation in section.recommendations" ng-hide="recommendation.isDeleted" >
				<td btn-href="{{baseUrl}}{{section.sectionId}}/recommendation/{{recommendation.recommendationId}}">{{recommendation.recommendationId}}</td>
				<td btn-href="{{baseUrl}}{{section.sectionId}}/recommendation/{{recommendation.recommendationId}}">{{recommendation.heading}}</td>
				<td btn-href="{{baseUrl}}{{section.sectionId}}/recommendation/{{recommendation.recommendationId}}">{{recommendation.updatedDate | date}}</td>
				<td class="col-md-3">
					<div class="btn-group pull-right">
						
						<button type="button" class="btn btn-default btn-sm" ng-click="deleteRecommendationBtnClick($index)" ng-confirm-click="Er du sikker på at du vil slette anbefalingen {{recommendation.heading}}"><span class="glyphicon glyphicon-remove"></span> Slett</button>
						<button type="button" class="btn btn-success btn-sm" btn-href="{{baseUrl}}{{section.sectionId}}/recommendation/{{recommendation.recommendationId}}"><span class="glyphicon glyphicon-edit"></span> Rediger</button>
					</div>
				</td>
				
			</tr>
		</tbody>
	</table>

	<button ng-show="section.sectionId" type="button" class="btn btn-default" ng-click="addRecommendationBtnClick()">Legg til anbefaling</button></p>

</section>

</article>
